@import url("../../styles/colors.css");


.store{
    /* background-color: var(--white-green); */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
h1{
    font-size: 2.5rem;
}
.items_container{
    /* background-color: pink; */
    width: auto;
    height: 100%;
    padding: 3.75rem 0 3.75rem 0;
    display: grid;
    grid-template-columns: repeat(3,18.75rem);
    grid-template-rows: repeat(4,21.875rem);
}

.item_link{
    text-decoration: none;
    color: black;
}