:root {
    --dark-green: #1A5319;
    --medium-green: #508D4E;
    --light-green: #80AF81;
    --white-green: #D6EFD8;
    --white: white;
    --soft-white: #F2F7F3;
    --light-grey: #C7CBC7;
    --medium-grey: #8E928E;
    --dark-grey: #515351;
  }
