@import url("../../styles/colors.css");

.company_message{
    display: flex;
    padding: 3.75rem 7.5rem 3.75rem 7.5rem;
    justify-content: space-evenly;
    align-items: start;
    background-color: var(--white-green);
}

.image_container{
    height: 37.5rem;
    width: 25rem;
}

.image_container > img{
    height: 100%;
    width: 100%; 
}

.company_message_left{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.company_message_title{
    font-size: 2.5rem;
}
.company_message_text{
    width: 31.25rem;
}

.company_message_shop_btn{
    text-underline-offset: 0.375rem;
    font-size: 1rem;
    letter-spacing: 0.09375rem;
    color: black;
    font-weight: 600;
}