@import url("../../styles/colors.css");


.item{
    cursor: pointer;
    width: auto;
    height: auto;
    background-color: var(--white);
    margin: 1.25rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,0.12), 0 0.0625rem 0.125rem rgba(0,0,0,0.24);
}

.item-image-container{
    /* background-color: azure; */
    width: 16.25rem;
    height: 16.25rem;

}

.item-image{
    height: 100%;
    width: 100%;
}
.item-info-container{
    /* background-color: red; */
    flex-grow: 1;
    padding: 0 0.625rem 0 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item-name{
    font-weight: 900;
}
.item-info-container-bottom{
    display: flex;
    justify-content: space-between;
}